@page
@model CarRental.Web.Pages.Cars.EditModel
@inject PagesLocalizationService PagesLocalizer

<h4>@PagesLocalizer.GetLocalizedHtmlString("EDIT_CAR")</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Car.Id" />
            <div class="form-group">
                <label asp-for="Car.PlateNumber" class="control-label"></label>
                <input asp-for="Car.PlateNumber" placeholder="AAA-001" class="form-control" />
                <span asp-validation-for="Car.PlateNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.VehicleModelId" class="control-label"></label>
                <select asp-for="Car.VehicleModelId" class="form-control" asp-items="ViewBag.VehicleModelId"></select>
                <span asp-validation-for="Car.VehicleModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.AddressId" class="control-label"></label>
                <select asp-for="Car.AddressId" class="form-control" asp-items="ViewBag.AddressId">
                    <option value=""></option>
                </select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Car.Active" /> @Html.DisplayNameFor(model => model.Car.Active)
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary mr-3">@PagesLocalizer.GetLocalizedHtmlString("SAVE")</button>
                <a asp-page="./Index">@PagesLocalizer.GetLocalizedHtmlString("BACK_LIST")</a>
            </div>
        </form>
    </div>
</div>


