@page
@model PrivacyModel
@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("PRIVACY_TITLE");
}

@inject SharedLocalizationService SharedLocalizer

<h1>@ViewData["Title"]</h1>

<p>@SharedLocalizer.GetLocalizedHtmlString("PRIVACY_TEXT")</p>
