@page
@model CarRental.Web.Pages.Addresses.EditModel
@inject PagesLocalizationService PagesLocalizer

<h4>@PagesLocalizer.GetLocalizedHtmlString("EDIT_ADDRESS")</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Address.Id" />
            <div class="form-group">
                <label asp-for="Address.Name" class="control-label"></label>
                <input asp-for="Address.Name" class="form-control" />
                <span asp-validation-for="Address.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.ZipCode" class="control-label"></label>
                <input asp-for="Address.ZipCode" class="form-control" />
                <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.StreetAddress" class="control-label"></label>
                <input asp-for="Address.StreetAddress" class="form-control" />
                <span asp-validation-for="Address.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Latitude" class="control-label"></label>
                <input asp-for="Address.Latitude" class="form-control" />
                <span asp-validation-for="Address.Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Longitude" class="control-label"></label>
                <input asp-for="Address.Longitude" class="form-control" />
                <span asp-validation-for="Address.Longitude" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Address.IsInUse" /> @Html.DisplayNameFor(model => model.Address.IsInUse)
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success mr-3">@PagesLocalizer.GetLocalizedHtmlString("CREATE")</button>
                <a asp-page="Index">@PagesLocalizer.GetLocalizedHtmlString("BACK_LIST")</a>
            </div>
        </form>
    </div>
</div>

