@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = IdentityLocalizer.GetLocalizedHtmlString("FORGOT_PASSWORD_CONFIRMATION");
}

@inject IdentityLocalizationService IdentityLocalizer

<h1>@ViewData["Title"]</h1>
<p>
    @IdentityLocalizer.GetLocalizedHtmlString("FORGOT_PASSWORD_CONFIRMATION_TEXT");
</p>

