@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = IdentityLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_CONFIRMATION");
}

@inject IdentityLocalizationService IdentityLocalizer

<h1>@ViewData["Title"]</h1>
<p>
    @IdentityLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_CONFIRMATION_TEXT")<a asp-page="./Login">@IdentityLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_CONFIRMATION_CLICK_HERE")</a>.
</p>
